<div id="rightPanel" class="sidePanelHeader center-block hidden-xs">
    <h4  ng-click="toggleRightPanel($event)" data-fittext data-fittext-min="18" data-fittext-max="24">
        ACTIVITY FEED
    </h4>
    <form name="postForm" class="form-horizontal" ng-controller="MessageCtrl" novalidate>
        <div class="form-group" ng-hide="!rightVisible">

            <div class="input-group">
                <input type="text"
                       class="form-control input-sm"
                       data-ng-model="message.body"
                       placeholder="Post something...">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="createMessage()">Submit</button>
                    </span>
            </div><!-- /input-group -->

        </div>
    </form>
</div>