<h1>News</h1>
<div data-ng-repeat="post in vm.news" class="news-post">
    <a data-ui-sref="news.view({postId: post._id})">
        <h2 data-ng-bind="post.title" class="news-title"></h2>
        <img class="img-responsive" src="/.tmp/images/news-placeholder.jpg" />
    </a>
    <div class="news-bar">
        <div class="row">
            <div class="col-xs-4">
                <div class="news-img pull-left">
                    <avatar member="{{post.creator.displayName}}" width="32px" height="32px"></avatar>
                </div>
                <h3 class="news-member"><a href="#" data-ng-bind="post.creator.displayName"></a></h3>
                <span data-ng-bind="post.createdAt | date:'mediumDate'" class="news-muted"></span>
            </div>
            <div class="col-xs-4">
                <h4 class="news-game"><a href="#">Star Citizen News</a></h4>
            </div>
            <div class="col-xs-4 news-comments">
                <a href="#"><span class="glyphicon glyphicon-comment"></span> 13</a>
            </div>
        </div>
    </div>
</div>