{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Addiction</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">

    <!-- Responsive META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>
<body ng-controller="AppCtrl">

<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top animated fadeInDown" role="navigation">
        <div class="row">
            <div id="leftPanel" class="col-sm-2">
                <left-panel-header></left-panel-header>
            </div>

            <div class="col-xs-12 col-sm-8">
                <nav-bar class="navbar-adt" bs-navbar></nav-bar>

            </div>
            <div id="rightPanel" class="col-sm-2">
                <right-panel-header></right-panel-header>
            </div>
        </div>
    </nav>
</header>




<side-panel visible="leftVisible" alignment="left" class="hidden-xs">
    <online-user-list></online-user-list>
</side-panel>

<main id="main" ng-class="{'hidden-left': !leftVisible, 'hidden-right': !rightVisible  }">
    <div ncy-breadcrumb></div>
    <div ui-view></div>
</main>


<side-panel visible="rightVisible" alignment="right" class="hidden-xs">
    <activity-list></activity-list>
</side-panel>



{% block scripts %}
    <script src="{% static 'scripts/vendors.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/application.js' %}"></script>
    <script src="{% static 'scripts/templates.js' %}"></script>
{% endblock scripts %}

</body>
</html>