.animate.ng-enter,
{
  .transition(0.5s linear opacity);
}
.animate.ng-leave, {
  .transition(0 linear opacity)
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
}
.animate.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
  opacity: 1;
}


[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  .transition(0.25s linear opacity);
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-stagger,
[ui-view].ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}


